/** Reset CSS */
* {
    margin: 0;
    box-sizing: border-box;
}

/** General Styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
}

#landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/** Navbar Styles */
nav {
    background: #1a202c;
    color: #a0aec0;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title a {
    font-size: 24px;
    text-decoration: none;
    color: #a0aec0;
}

.auth-links a {
    color: #a0aec0;
    text-decoration: none;
    margin-left: 10px;
}

.auth-links a:hover {
    text-decoration: underline;
}

#signupLink, #loginLink {
    color: #a0aec0;
    text-decoration: none;
    margin-right: 10px;
}

/** Dropdown Form Styles */
.dropdown-form {
    display: none;
    position: absolute;
    background-color: #1a202c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-form a {
    color: #a0aec0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.auth-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.dropdown-form a:hover {
    background-color: #2d3748;
}

/** Main Content Styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vh;
    padding: 20px;
}

.container h1 {
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;
}

/* TOPICS SECTION */
.topicCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    padding: 20px;
}

footer {
    color: black;
    padding: 3px 20px;
    display: flex;
    justify-content: center;
    background: #1a202c;
    color: #a0aec0;
}

#topicCards:hover {
    cursor: pointer;
}

#topicCards button {
    background: #1a202c;
    color: #a0aec0;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

#topicCards h3 {
    padding-top: 100px;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
