* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.auth-form {
    display: none;
}

nav {
    background: rgba(196, 223, 223, 1);
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.title a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.auth-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.auth-links a:hover {
    text-decoration: underline;
}

.auth-form {
    display: flex;
    justify-content: flex-end;
    background: rgba(196, 223, 223, 1);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 3px;
}

.auth-form a {
    color: #fff;
    text-decoration: none;
}

#authForms {
    position: absolute;
    top: 6%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 10%; 
}

#loginForm {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-top: 5px;
}

#loginForm, #loginUsername, #loginPassword, #loginSubmit{
    margin-bottom: 10px;
}

#signupForm {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-top: 5px;
}

#signupForm, #signupUsername, #signupPassword, #signupSubmit{
    margin-bottom: 10px;
}