* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.auth-form {
    display: none;
}

nav {
    background: rgba(196, 223, 223, 1);
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.title a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.auth-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.auth-links a:hover {
    text-decoration: underline;
}

.auth-form {
    display: flex;
    justify-content: flex-end;
    background: rgba(196, 223, 223, 1);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 3px;
}

.auth-form a {
    color: #fff;
    text-decoration: none;
}

#authForms {
    position: absolute;
    top: 6%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 10%; 
}

#loginForm {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-top: 5px;
}

#loginForm, #loginUsername, #loginPassword, #loginSubmit{
    margin-bottom: 10px;
}

#signupForm {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-top: 5px;
}

#signupForm, #signupUsername, #signupPassword, #signupSubmit{
    margin-bottom: 10px;
}

.topicHeader h1 {
    text-align: center;
    margin-top: 20px;
}

.addClaimForm {
    background: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addClaimForm h2 {
    text-align: center;
    margin-bottom: 20px;
}

.addClaimForm input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.addClaimForm button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addClaimForm button:hover {
    background: #0056b3;
}

.addClaimForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
    min-height: 100px; /* Set minimum height */
    max-height: 200px; /* Set maximum height */
}

