<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Conversely | Debate Forum</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='landing.css') }}"
        />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
        />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='common.js') }}"></script>
    </head>
    <body>
        <section id="landing" aria-label="Landing Section">
            <nav role="navigation" aria-label="Main Navigation">
                <div class="title">
                    <a href="/"><b>Conversely</b></a>
                </div>
                <div id="searchBar" class="search-bar">
                    <input
                        type="text"
                        id="searchInput"
                        placeholder="Search topics"
                        aria-label="Search Input"
                    />
                    <button id="searchBtn" aria-label="Search Button">
                        Search
                    </button>
                </div>
                <div
                    id="searchResultsModal"
                    class="modal"
                    role="dialog"
                    aria-labelledby="searchModalLabel"
                    aria-describedby="searchResultsList"
                >
                    <div class="modal-content">
                        <span class="close" role="button" aria-label="Close"
                            >&times;</span
                        >
                        <h2 id="searchModalLabel">Search Results</h2>
                        <div id="searchResultsList" aria-live="polite"></div>
                    </div>
                </div>
                <div id="authLinks" class="auth-links">
                    {% if session.logged_in %}
                    <button role="button">
                        <a href="#" id="logoutLink"><b>Logout</b></a>
                    </button>
                    {% else %}
                    <button role="button">
                        <a href="#" id="loginLink"><b>Login</b></a>
                    </button>
                    <button role="button">
                        <a href="#" id="signupLink"><b>Sign Up</b></a>
                    </button>
                    {% endif %}
                </div>
            </nav>

            <div
                class="auth-form"
                id="authForms"
                aria-label="Authentication Forms"
            ></div>
            <div class="container">
                <h1>
                    Welcome to <b><span aria-hidden="true">Conversely</span></b>
                </h1>
                <i
                    ><u
                        ><p>
                            Your digital arena for the art of debate and
                            discourse.
                        </p></u
                    ></i
                >
                <div
                    id="popularTopics"
                    class="popularTopics"
                    aria-label="Popular Topics"
                >
                    <!-- Display popular topics here -->
                </div>
            </div>
            <div class="topicCarousel" aria-label="Topic Carousel">
                {% if session.logged_in %}
                <form id="addTopicForm">
                    <input
                        type="text"
                        id="topicName"
                        placeholder="Topic Name"
                        pattern="[a-zA-Z0-9\s]+"
                        title="Please enter only letters, numbers, and spaces"
                        required
                        aria-label="Topic Name Input"
                    />
                    <button
                        type="submit"
                        id="addTopicBtn"
                        aria-label="Add Topic Button"
                    >
                        Add Topic
                    </button>
                </form>
                {% endif %}

                <div id="topicCards" aria-label="Topic Cards"></div>
            </div>
            <footer class="footer" role="footer">
                <h3>Conversely <span class="year"></span></h3>
            </footer>
        </section>
        <script src="{{ url_for('static', filename='landing.js') }}"></script>
    </body>
</html>
