<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversely | Debate Forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <section id="landing">
        <nav>
            <div class="title">
                <a href="/">Conversely</a>
            </div>
            <div id="searchBar" class="search-bar">
                <input type="text" id="searchInput" placeholder="Search topics or claims">
                <button id="searchBtn">Search</button>
            </div>
            <div id="authLinks" class="auth-links">
                {% if session.logged_in %}
                    <button><a href="#" id="logoutLink">Logout</a></button>
                {% else %}
                    <button><a href="#" id="loginLink">Login</a></button>
                    <button><a href="#" id="signupLink">Sign Up</a></button>
                {% endif %}
            </div>
        </nav>
        
        <div class="auth-form" id="authForms"></div>
        <div class="container">
            <h1>Welcome to Conversely</h1>

            <div id="popularTopics" class="popularTopics">
                <!-- Display popular topics here -->
            </div>
        </div>
        <div class="topicCarousel">
            {% if session.logged_in %}
                <form id="addTopicForm">
                    <input type="text" id="topicName" placeholder="Topic Name" pattern="[a-zA-Z0-9\s]+" title="Please enter only letters, numbers, and spaces" required />
                    <button type="submit" id="addTopicBtn">Add Topic</button>
                </form>
            {% endif %}

            <div id="searchResultsModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Search Results</h2>
                    <div id="searchResultsList">
                        <!-- Search results will be displayed here -->
                    </div>
                </div>
            </div>

            <div id="topicCards"></div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='landing.js') }}"></script>
</body>
</html>
