<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='topics.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Conversely | {% if topic_name %}{{ topic_name }}{% else %}Topic Name{% endif %}</title>
</head>
<body>
    <nav>
        <div class="title">
            <a href="/">Conversely</a>
        </div>
            <!-- <div id="searchBar" class="search-bar">
                <input type="text" id="searchInput" placeholder="Search topics or claims">
                <button id="searchBtn">Search</button>
            </div> -->
        
        <div id="authLinks" class="auth-links">
            {% if session.logged_in %}
                <button><a href="#" id="logoutLink">Logout</a></button>
            {% else %}
                <button><a href="#" id="loginLink">Login</a></button>
                <button><a href="#" id="signupLink">Sign Up</a></button>
            {% endif %}
        </div>
    </nav>
    


    <div id="authForms"></div>

    <div class="topicHeader">
        <h1>{% if topic_name %}{{ topic_name }}{% else %}Topic Name{% endif %}</h1> 
    </div>

    <div class="addClaimForm" data-topic="{% if topic_name %}{{ topic_name }}{% endif %}">
        {% if session.logged_in %}
            <textarea id="claimText" placeholder="Claim Text (maximum 250 characters)" maxlength="250" required></textarea>
            <button id="addClaimButton">Add</button>
        {% else %}
            <p>Sign in to add a claim</p>
        {% endif %}
    </div>

    <div class="container">
        <div id="card-grid">
           
        </div>
    </div>

    <!-- Popup modal structure -->
    <div id="claimModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Claim Details</h2>
            <p id="claimDetail"></p>
            <form id="replyForm">
                <textarea id="replyText" placeholder="Your reply..." required></textarea>
                <input type="radio" id="clarificationReply" name="replyType" value="1" required>
                <label for="clarificationReply">Clarification</label>
                <input type="radio" id="supportingArgumentReply" name="replyType" value="2" required>
                <label for="supportingArgumentReply">Supporting Argument</label>
                <input type="radio" id="counterargumentReply" name="replyType" value="3" required>
                <label for="counterargumentReply">Counterargument</label>
                <button type="submit">Submit Reply</button>
                <input type="hidden" id="topicName" value="{% if topic_name %}{{ topic_name }}{% endif %}">
            </form>
            
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='topic.js') }}"></script>
    <script src="{{ url_for('static', filename='common.js') }}"></script>
</body>
</html>
